# LiveCoding: Python Lists (solutions)

by [Luciano Gabbanelli](https://www.linkedin.com/in/luciano-gabbanelli-ph-d-75302218)

<img width=80 src="https://media.giphy.com/media/KAq5w47R9rmTuvWOWa/giphy.gif">

<img width=150 src="Images/Assembler.png">

***

## Diving into lists

Lists are one of the most versatile data types that allow us to work with multiple elements at once.

Lists are one of 4 built-in data types in Python used to store collections of data; the other 3 are Tuple, Set, and Dictionary, all with different qualities and usage.

Lists are created using square brackets. List items are indexed, the first item has index [0], the second item has index [1], etc.


List items are ordered<a name="cite_ref-1"></a>[<sup>[1]</sup>](#cite_note-1), changeable<a name="cite_ref-2"></a>[<sup>[2]</sup>](#cite_note-2), and allow duplicate values<a name="cite_ref-3"></a>[<sup>[3]</sup>](#cite_note-3).


If you add new items to a list, the new items will be placed at the end of the list.

<br>
<br>

<a name="cite_note-1"></a> [[1]](#cite_ref-1) This means that the items have a defined order, and that order will not change. There are some [list methods](https://www.w3schools.com/python/python_lists_methods.asp) that will change the order, but in general: the order of the items will not change.

<a name="cite_note-2"></a> [[2]](#cite_ref-2) Changeable, meaning that we can change, add, and remove items in a list after it has been created.

<a name="cite_note-3"></a> [[3]](#cite_ref-3) Since lists are indexed, lists can have items with the same value.

Create a list with objects of different types:

In [1]:
# Type the code here:
cocoliche_list = ['Lucho', 10, 'apple', True, 5.5-2.5]
cocoliche_list

['Lucho', 10, 'apple', True, 3.0]

Query the type of object created and the type of each element (list items are indexed and you can access them by referring to the index number):

In [2]:
# Type the code here:
type(cocoliche_list)

list

In [3]:
print(type(cocoliche_list[0]), type(cocoliche_list[1]), type(cocoliche_list[2]),
      type(cocoliche_list[3]), type(cocoliche_list[4]))

<class 'str'> <class 'int'> <class 'str'> <class 'bool'> <class 'float'>

### List Length

To determine how many items a list has, use the `len()` function.

In [4]:
# Type the code here:
len(cocoliche_list)

5

### Access list elements by list index.

As in strings, we also have negative indexing, range of indexes (remember that python does not take the upper limit), jumps (`[::]` &#10230; `[start:end:jump]`), etc.

In [5]:
# Try some code here:
cocoliche_list[-2]

True

In [6]:
cocoliche_list[1:4]

[10, 'apple', True]

In [7]:
cocoliche_list[-4:-1]

[10, 'apple', True]

By leaving out the start (end) value, the range will start (end) at the first (last) item:

In [8]:
# Try some code here:
cocoliche_list[:2]

['Lucho', 10]

In [9]:
cocoliche_list[2:]

['apple', True, 3.0]

### Check if item exists

You can use the membership operators (which we have seen in *2.1-Webinar_Introduction_to_Python*) to determine if a specified item value is present in a list.

In [10]:
# Try some code here:
True in cocoliche_list

True

In [11]:
False in cocoliche_list

False

In [12]:
'Luciano' in cocoliche_list

False

### Change item value, or range of item values

Reasign the value of one of the items (a range of items) of the list.

If you insert more items than you replace, the new items will be inserted where you specified, and the remaining items will move accordingly (clearly, the length of the list will change).

If you insert less items than you replace, the new items will be inserted where you specified, the exceeding items will be deleted, and the remaining items will move accordingly.

In [13]:
# Try some code here:
cocoliche_list[0] = 'apple'
cocoliche_list

['apple', 10, 'apple', True, 3.0]

In [14]:
cocoliche_list[2:4] = ['apple', 'apple', 'apple', 'apple']
cocoliche_list

['apple', 10, 'apple', 'apple', 'apple', 'apple', 3.0]

In [15]:
len(cocoliche_list)

7

In [16]:
cocoliche_list[2:6] = ['apple']
cocoliche_list

['apple', 10, 'apple', 3.0]

In [17]:
len(cocoliche_list)

4

### Incorporate new items

You can `insert()` a new item without replacing any of the existing values. This will change the length of your list.

> **Syntax**: `list_name.insert(value,index_position)`

<br>

Alternatively you can use the `append()` method to add an item to the end of the list.

> **Syntax**: `list_name.append(value)`

<br>

Or `extend()` your current list with some elements from another list, tuple, set, dictionary, or any any iterable object.

> **Syntax**: `list_name.extend(other_object)`

In [18]:
# Try some code here:
cocoliche_list.insert(2, True)
cocoliche_list

['apple', 10, True, 'apple', 3.0]

In [19]:
len(cocoliche_list)

5

### Supress existing items

The `remove()` method removes the specified item.

> **Syntax**: `list_name.remove(value)`

<br>

The `pop()` method removes the specified index. If you do not specify the index, the `pop()` method removes the last item.

> **Syntax**: `list_name.pop(index)`

<br>

The `del()` keyword also removes the specified index.

> **Syntax**: `del(list_name[index])`

<br>


Or you can delete the full list if the name of the complete list is introduced as parameter.

> **Syntax**: `del(list_name)`

<br>

Alternatively, you can just erase the content but conserve the list. The `clear()` method empties the list.

> **Syntax**: `clear(list_name)`

- **Remove** the first appearence of an element of a list:

In [20]:
# Type the code here:
cocoliche_list.remove(True)

In [21]:
len(cocoliche_list)

4

### The `count()` method

The `count()` method returns the number of elements with a specified value.

> **Syntax**: `list.count(value)`

- **Count** how many times the srting 'apple' appears in our list.

In [22]:
# Type the code here:
cocoliche_list.count('apple')

2

In [23]:
cocoliche_list.count(True)

0

### The `reverse()` method

The `reverse()` method reverses the sorting order of the elements.

> **Syntax**: `list.reverse()`

**Note:** This method needs no parameters.

In [24]:
# Type the code here:
cocoliche_list.reverse()

In [25]:
cocoliche_list

[3.0, 'apple', 10, 'apple']

### Loop through a list (again)

You can loop through the list items by using a for loop:

In [26]:
# Type the code here:
for item in cocoliche_list:
    print(item)

3.0
apple
10
apple

Or you can loop through the index numbers:

In [27]:
# Type the code here:
for index in range(len(cocoliche_list)):
    print(f'The index {index} is the value {cocoliche_list[index]}')

The index 0 is the value 3.0
The index 1 is the value apple
The index 2 is the value 10
The index 3 is the value apple

**Extra:** find the iterable created for the previous loop.

In [28]:
# Type the code here:
list(range(len(cocoliche_list)))

[0, 1, 2, 3]

### Looping using list comprehension

List comprehension offers the shortest syntax for looping through lists (you can do all with only one line of code).

> **Syntax**: `newlist = [expression for item in iterable if condition == True]`

- **Convert** only non-string values from our list called `cocoliche_list` to strings in a new list:

In [197]:
cocoliche_list

[3.0, 'apple', 10, 'apple']

In [192]:
# Type the code here:
strings_list = [str(x) for x in cocoliche_list if type(x)!=str]
strings_list

['3.0', '10']

- **Research** on how to add an `else` in list comprehension.


- **Convert** all values from our list to strings in a new list and convert to uppercase only those elements that in the list called `cocoliche_list` were strings:

In [201]:
# Type the code here:
strings_list = [str(x) if type(x) != str else x.upper() for x in cocoliche_list]
strings_list

['3.0', 'APPLE', '10', 'APPLE']

- **Create** a list of integers close to 50 (some bigger, some smaller). Create a list comprehension syntax such that if the numbers in the list are greater than or equal to 50, the program adds 1 to them; but if they are less than 50, then it substract 5.

In [202]:
# Type the code here:
integer_list = [22, 13, 45, 50, 98, 69, 43, 44, 1]
[x+1 if x >= 50 else x+5 for x in integer_list]

[27, 18, 50, 51, 99, 70, 48, 49, 6]

###  Copy a list

You cannot copy a list simply by typing `list2 = list1`, because: `list2` will only be a reference to `list1`, and changes made in `list1` will automatically also be made in `list2`.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

Make a **copy** of a list with the `copy()` method:

In [32]:
# Type the code here:
strings_list2 = strings_list.copy()
print(strings_list2)

['3.0', 'apple', '10', 'apple']

In [33]:
strings_list2 == strings_list

True

Make a **copy** of the list using the list constructor (built-in method) `list()`:

In [34]:
# Type the code here:
strings_list3 = list(strings_list)
strings_list3

['3.0', 'apple', '10', 'apple']

In [35]:
strings_list3 == strings_list

True

In [36]:
strings_list3 is strings_list

False

### The `id()` function

<br>

**NERDY MOMENT!**

<br>

The `id()` function returns a unique id (unique integer - identity -) for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the object's memory address, and will be different for each time you run the program. (except for some object that has a constant unique id, like integers from -5 to 256)

> **Syntax**: `id(object)`
>
> `object` can be a class, variable, list, tuple, set, etc.

In [45]:
# Type some code here:
id(strings_list)

1718078931648

In [46]:
id(strings_list2)

1718095577920

In [47]:
id(strings_list3)

1718078946624

### Arithmetic operators for list

- Using the following list, try some arithmetic operators on it.

In [49]:
languages = ['Spanish', 'C++', 'math', 'JavaScript']

In [50]:
# Type some code here:
languages * 3

['Spanish',
 'C++',
 'math',
 'JavaScript',
 'Spanish',
 'C++',
 'math',
 'JavaScript',
 'Spanish',
 'C++',
 'math',
 'JavaScript']

In [55]:
# addition of 2 lists
strings_list + languages

['3.0', 'apple', '10', 'apple', 'Spanish', 'C++', 'math', 'JavaScript']

In [52]:
len(languages)

4

### Other ways to join two lists

Looping a list into another, item by item

In [53]:
# Type some code here:
languages

['Spanish', 'C++', 'math', 'JavaScript']

In [54]:
strings_list

['3.0', 'apple', '10', 'apple']

In [56]:
for x in languages:
    strings_list.append(x)

print(strings_list)

['3.0', 'apple', '10', 'apple', 'Spanish', 'C++', 'math', 'JavaScript']

Or with the `extend()` method.

In [57]:
# Type the code here:
strings_list.extend(languages)
strings_list

['3.0',
 'apple',
 '10',
 'apple',
 'Spanish',
 'C++',
 'math',
 'JavaScript',
 'Spanish',
 'C++',
 'math',
 'JavaScript']

## Lists, we are not done yet

### The `list()` constructor

It is also possible to use the list() constructor for creating a new list.

- Create a list of ages of length 8 representing 8 people:

In [74]:
# Type the code here:
ages = list((52, 13, 27, 13, 91, 67, 51, 13))
ages

[52, 13, 27, 13, 91, 67, 51, 13]

In [75]:
type(ages)

list

### The `min()` function

The `min()` function returns the item with the lowest value.

If the values are strings, an alphabetically comparison is done.

- Find the niminun of the list:

In [76]:
# Type the code here:
min(ages)

13

### The `max()` function

The `max()` function returns the item with the highest value.

If the values are strings, an alphabetically comparison is done.

- and the maximum:

In [77]:
# Type the code here:
max(ages)

91

- Count how many times the number 13 appears:

In [78]:
# Type the code here:
ages.count(13)

3

### Sort a list

List bjects have a `sort()` method that will sort the list in ascending order (alphanumeric, in case of strings) by default.

> **Syntax**: `list_name.sort(reverse=True|False, key=my_function)`
>
> `reverse`: if `True`, the sorted list is reversed; i.e. sort in descending order
>
> `key` - function that serves as a key for the sort comparison

Here are some [uses of the key parameter](https://www.programiz.com/python-programming/methods/list/sort).

- Sort the list of ages:

In [79]:
# Type the code here:
ages.sort()

In [80]:
ages

[13, 13, 13, 27, 51, 52, 67, 91]

- Reasign a range of items of the list with assignment operator `=`.

  Be careful with the indexation of lists!

In [81]:
# Type the code here:
ages[0:3] = [1, 7, 13, 19]

In [82]:
ages

[1, 7, 13, 19, 27, 51, 52, 67, 91]

- Add 3 new elements to the end of the current list.

In [83]:
# Type the code here:
ages.extend([93, 35, 51])

In [84]:
ages

[1, 7, 13, 19, 27, 51, 52, 67, 91, 93, 35, 51]

### Find indices

The `index()` method returns the index of the specified element in the list.

> Syntax: `list.index(element, start, end)`
>
> the element to search for can be of any type: string, number, list, etc.

If the element is not found, a `ValueError` exception is raised.

The `index()` method only returns the first occurrence of the matching element.

In [85]:
# Type some code here:
ages.index(13)

2

In [86]:
ages.index(13, 3)

ValueError: 13 is not in list

In [87]:
ages.index(51) # but not 11

5

### The `enumerate()` function

The `enumerate()` function takes a collection (e.g. a list, tuple, etc.) and returns it as an enumerate object, adding a counter as the key of the enumerate object.

> Syntax: `enumerate(iterable, start)`
>
> `start` defines the start number of the `enumerate` object. Default 0.

- Enumerate a list and a string:

In [91]:
# create a list and a string:
list1 = ["eat", "sleep", "repeat"]
s1 = "life"
  
# creating enumerate objects
obj1 = enumerate(list1)
obj2 = enumerate(s1)
  
print ("Return type:", type(obj1),'\nReturn object:', obj1)
print()
print ('But we can show this object as a list: ', list(enumerate(list1)))
  
# changing start index to 2 from 0
print ('For the string, the numeration is for each character: ', list(enumerate(s1, 2)))

Return type: <class 'enumerate'>
Return object: <enumerate object at 0x00000190076C2A80>

But we can show this object as a list:  [(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
For the string, the numeration is for each character:  [(2, 'l'), (3, 'i'), (4, 'f'), (5, 'e')]

- Try a `for` with `enumerate()`:

In [92]:
# Type some code here:
for index, value in enumerate(['tic', 'tac', 'toe']):
     print(index, value)

0 tic
1 tac
2 toe

### The `zip()` function

The `zip()` function takes iterables (can be zero or more), aggregates them in a tuple, and returns it.

> Syntax: `zip(iterator1, iterator2, iterator3 ...)`
>
> iterator1, iterator2, iterator3 ... : Iterator objects  (like: list, string, dict, etc., or user-defined iterables<a name="cite_ref-1"></a>[<sup>[1]</sup>](#cite_note-1)) that will be joined together.

<a name="cite_note-1"></a> [[1]](#cite_ref-1) Here is difficult one: [Python Iterators](https://www.programiz.com/python-programming/iterator) :O

In [101]:
# Type some code here:
languages = ['Java', 'Python', 'JavaScript', 'PHP', 'Kotlin']
versions = [8, 3.9, 6, 8.1, 1.6]
result = zip(languages, versions)

In [102]:
print(result)
print()
list_result = list(result)
print(list_result)

<zip object at 0x0000019007838300>

[('Java', 8), ('Python', 3.9), ('JavaScript', 6), ('PHP', 8.1), ('Kotlin', 1.6)]

In [105]:
type(list_result[1])

tuple

In [117]:
indices = list (range (1,6))
print(indices)
for i, l, v in zip(indices,languages, versions):
    print(f'{i} - The last version of {l} is {v}')

[1, 2, 3, 4, 5]
1 - The last version of Java is 8
2 - The last version of Python is 3.9
3 - The last version of JavaScript is 6
4 - The last version of PHP is 8.1
5 - The last version of Kotlin is 1.6

In [118]:
list_of_tuples = list(zip(indices,languages, versions))
print(list(list_of_tuples))

[(1, 'Java', 8), (2, 'Python', 3.9), (3, 'JavaScript', 6), (4, 'PHP', 8.1), (5, 'Kotlin', 1.6)]

### Complete it for yourself

When do my transformations affect the list itself and when do they not (i.e. the transformation must be asign to a variable)?

Do you remember? Can you list them?

* `+`, `*`, ...

* `append()`, `remove()`, ...

Other methods: `insert()`, `del()`, `clear()`, `pop()`, `index()`

## List of lists

The items of a list can be of any type. Also a list!

In [120]:
# Type some code here:
fruits_vegetables = [['tomato', 'pear', 'strawberry'], ['broccoli', 'artichoke']]

In [4]:
len(fruits_vegetables)

2

In [5]:
fruits_vegetables[0]

['tomato', 'pear', 'strawberry']

In [6]:
fruits_vegetables[1]

['broccoli', 'artichoke']

In [123]:
# concatenation of methods
# Type some code here:

fruits_vegetables[0][2].upper()

'STRAWBERRY'

In [122]:
fruits_vegetables[1][1].capitalize()

'Artichoke'

## List of whatever

In [143]:
# Type some code here:
mmm = list([[1,'I can do what I want',3], {3, 3, 3, 4}, 
            (2, 'Whatever', True), {'Earth_life':True}, None])

In [140]:
mmm

[[1, 'I can do what I want', 3],
 {3, 4},
 (2, 'Whatever', True),
 {'Earth_life': True}]

In [135]:
type(mmm)

list

In [136]:
type(mmm[1])

set

In [141]:
type(mmm[2])

tuple

In [144]:
type(mmm[3])

dict

In [145]:
type(mmm[4])

NoneType

## The reversed() function

The `reversed()` function returns a reversed iterator object.

> Sintax: `reversed(sequence)`
>
> `sequence`: any iterable object (required)

- Implement the `reversed()` function:

In [164]:
# Type some code here:
alph = ["a", "b", "c", "d"]
ralph = reversed(alph)
print(ralph)
print(type(ralph))

<list_reverseiterator object at 0x00000190077E3A90>
<class 'list_reverseiterator'>

In [147]:
for item in ralph:
    print(item)

d
c
b
a

## The `iter()` and `next()` functions

The `iter()` function returns an iterator object. The output is similar to that obtained with the `reversed()` function, but now the iterator is not reversed.

> Syntax: `iter(object, sentinel)`
>
> `object`: any iterable object (required).
>
> `sentinel`: if the object is a callable object the iteration will stop when the returned value is the same as the `sentinel`(optional).

The `next()` function returns the next item in an iterator.
You can add a default return value, to return if the iterable has reached to its end.

> Syntax: `next(iterable, default)`
>
> `iterable`: an iterator object (not an iterable object). What is the difference?
> 
> `default`: a default value to return if the iterable has reached to its end.

In [165]:
mmm

[[1, 'I can do what I want', 3],
 {3, 4},
 (2, 'Whatever', True),
 {'Earth_life': True},
 None]

- Use `iter()` and `next()`:

In [182]:
# Type some code here:
tuple_iter = iter(mmm[2])

print(tuple_iter, '\ntype :' , type(tuple_iter))

x = next(tuple_iter, 'I AM DONE!')
print(x)
x = next(tuple_iter, 'I AM DONE!')
print(x)
x = next(tuple_iter, 'I AM DONE!')
print(x)
x = next(tuple_iter, 'I AM DONE!')
print(x)

<tuple_iterator object at 0x00000190078150D0>
type : <class 'tuple_iterator'>
2
Whatever
True
I AM DONE!

In [187]:
list_iter = iter(mmm)

print(list_iter, '\ntype :' , type(list_iter))

for i in range(len(mmm)+1):
    x = next(list_iter, 'I AM DONE!')
    print(x)

<list_iterator object at 0x00000190078152B0>
type : <class 'list_iterator'>
[1, 'I can do what I want', 3]
{3, 4}
(2, 'Whatever', True)
{'Earth_life': True}
None
I AM DONE!

## Identity operators

<br>

**SUPER MEGA NERDY MOMENT!**

<br>


Identity operators compare the memory location of two objects; not if they are equal (not `==`), but if they are actually the same object.

| Identity  Operators | Description  |
| :---: | :---: |
| `is` | Returns true if both variables are the same object |
| `is not` | Returns true if both variables are not the same object |

In [ ]:
list_1 = [1,2,3]

In [ ]:
list_2 = [1,2,3]

In [ ]:
list_1 == list_2

In [ ]:
list_1 is list_2

The last statement is **False** because the memory address is not the same!

**They are not the same object!!**

<img width="250" src="Images/id2.png">

In [ ]:
list_3 = list_1

In [ ]:
list_3.append(4)

In [ ]:
list_3

In [ ]:
list_1 is list_3

The last statement is **True** because the memory address is actally the same!

**They are the same object!!**

<img width="300" src="Images/id1.png">

In [ ]:
list_1

Since they are the same object, when I add the 7 to `list_3`, it automatically gets added to `list_1` as well.

In [ ]:
id(list_1)

In [ ]:
id(list_3)

In [ ]:
id(list_2)

<img width=300 src="https://media.giphy.com/media/lKXEBR8m1jWso/giphy.gif">